html {
    font-size: 10px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4rem;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.header a, .alpha a, .footer a {
    color: #807f84 !important;
}



.header {
    padding: 25px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    display: flex;
    align-items: center;
}

.gmail {
    margin-right: 15px;
}

.dots {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: black;
    margin-right: 15px;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main {
    text-align: center;
}
.logo {

}
.input {
    position: relative;
}

.search-icon {
    position: relative;
    overflow: hidden;
    width: 26px;
    height: 26px;
    top: 11px;
    left: 37px;
    /* left: 5px; */
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}

.google-input {
    width: 500px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    outline: 0;
    /* position: relative; */
    /* z-index: 3; */

}

.microphone {
    position: relative;
    overflow: hidden;
    /*width: 26px;
    */height: 26px;
    top: 11px;
    right: 47px;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
}

.google-input:hover {
    box-shadow: 2px 2px 2px #999898;
}
.alpha {
    margin: 15px 0;
}

.alpha>a {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.alpha>a:hover {
    box-shadow: 2px 2px 2px #999898;
}

.text {
}
.footer {
    margin-top: auto;
    background-color: #f2f2f2;
    padding: 15px 25px;
}

.section1 {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.footer-left {
    display: flex;
    align-items: center;
}